Mobile/Connected Services/ServicioAutenticacion/ServicioLoginMobile1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioLoginMobile" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://cgint04:50502/WS_RECEPTIOConsole/ServicioLoginMobile.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://cgint04:50502/WS_RECEPTIOConsole/ServicioLoginMobile.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://cgint04:50502/WS_RECEPTIOConsole/ServicioLoginMobile.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RECEPTIO.CapaAplicacion.Console.Aplicacion.Contratos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioLoginMobile_Autenticar_InputMessage">
    <wsdl:part name="parameters" element="tns:Autenticar" />
  </wsdl:message>
  <wsdl:message name="IServicioLoginMobile_Autenticar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutenticarResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioLoginMobile_CerrarSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:CerrarSesion" />
  </wsdl:message>
  <wsdl:message name="IServicioLoginMobile_CerrarSesion_OutputMessage">
    <wsdl:part name="parameters" element="tns:CerrarSesionResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioLoginMobile">
    <wsdl:operation name="Autenticar">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogin/Autenticar" message="tns:IServicioLoginMobile_Autenticar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogin/AutenticarResponse" message="tns:IServicioLoginMobile_Autenticar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CerrarSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogin/CerrarSesion" message="tns:IServicioLoginMobile_CerrarSesion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogin/CerrarSesionResponse" message="tns:IServicioLoginMobile_CerrarSesion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioLoginMobile" type="tns:IServicioLoginMobile">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Autenticar">
      <soap:operation soapAction="http://tempuri.org/ILogin/Autenticar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CerrarSesion">
      <soap:operation soapAction="http://tempuri.org/ILogin/CerrarSesion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioLoginMobile">
    <wsdl:port name="BasicHttpBinding_IServicioLoginMobile" binding="tns:BasicHttpBinding_IServicioLoginMobile">
      <soap:address location="http://cgint04:50502/WS_RECEPTIOConsole/ServicioLoginMobile.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>