Mobile/Connected Services/ServicioAutenticacion/ServicioLoginMobile2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RECEPTIO.CapaAplicacion.Console.Aplicacion.Contratos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RECEPTIO.CapaAplicacion.Console.Aplicacion.Contratos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DatosLogin">
    <xs:sequence>
      <xs:element minOccurs="0" name="EsLider" type="xs:boolean" />
      <xs:element minOccurs="0" name="EstaAutenticado" type="xs:boolean" />
      <xs:element minOccurs="0" name="IdSesion" type="xs:long" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zona" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatosLogin" nillable="true" type="tns:DatosLogin" />
</xs:schema>