Console/Connected Services/ServicioConsole/ServicioConsole1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://cgdes19:1700/Console/ServicioConsole.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RECEPTIO.CapaAplicacion.Console.Aplicacion.Contratos" />
  <xs:import schemaLocation="http://cgdes19:1700/Console/ServicioConsole.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RECEPTIO.CapaDominio.Nucleo.Entidades" />
  <xs:import schemaLocation="http://cgdes19:1700/Console/ServicioConsole.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://cgdes19:1700/Console/ServicioConsole.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://cgdes19:1700/Console/ServicioConsole.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/RECEPTIO.CapaAplicacion.Nucleo.Aplicacion.Contratos" />
  <xs:element name="Autenticar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasena" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutenticarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RECEPTIO.CapaAplicacion.Console.Aplicacion.Contratos" minOccurs="0" name="AutenticarResult" nillable="true" type="q1:DatosLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CerrarSesion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSesion" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CerrarSesionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTickets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSesionUsuario" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTicketsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RECEPTIO.CapaAplicacion.Console.Aplicacion.Contratos" minOccurs="0" name="ObtenerTicketsResult" nillable="true" type="q2:ArrayOfTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDetallesTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTransaccionQuiosco" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDetallesTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RECEPTIO.CapaAplicacion.Console.Aplicacion.Contratos" minOccurs="0" name="ObtenerDetallesTicketResult" nillable="true" type="q3:DetalleTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AceptarTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTicket" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AceptarTicketResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CerrarTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTicket" type="xs:long" />
        <xs:element minOccurs="0" name="notas" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="motivo" type="xs:int" />
        <xs:element minOccurs="0" name="submotivo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CerrarTicketResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMotivosAutoTickets">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMotivosAutoTicketsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RECEPTIO.CapaDominio.Nucleo.Entidades" minOccurs="0" name="ObtenerMotivosAutoTicketsResult" nillable="true" type="q4:ArrayOfAUTO_TROUBLE_REASON" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearAutoTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMotivo" type="xs:int" />
        <xs:element minOccurs="0" name="idSesionUsuario" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearAutoTicketResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarAccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RECEPTIO.CapaDominio.Nucleo.Entidades" minOccurs="0" name="accion" nillable="true" type="q5:ACTION" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarAccionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMensajesSmdtAduana">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroTransaccion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMensajesSmdtAduanaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RECEPTIO.CapaDominio.Nucleo.Entidades" minOccurs="0" name="ObtenerMensajesSmdtAduanaResult" nillable="true" type="q6:ArrayOfmb_get_ecuapass_message_pass_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarEstadoSmdt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroTransaccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarEstadoSmdtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CambiarEstadoSmdtResult" nillable="true" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarTransaccionManual">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/RECEPTIO.CapaAplicacion.Console.Aplicacion.Contratos" minOccurs="0" name="datosTransaccionManual" nillable="true" type="q7:DatosTransaccionManual" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarTransaccionManualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/RECEPTIO.CapaDominio.Nucleo.Entidades" minOccurs="0" name="AgregarTransaccionManualResult" nillable="true" type="q8:mb_add_ecuapass_transaccion_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuspenderTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTicket" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuspenderTicketResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTiposDescansos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTiposDescansosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/RECEPTIO.CapaDominio.Nucleo.Entidades" minOccurs="0" name="ObtenerTiposDescansosResult" nillable="true" type="q9:ArrayOfBREAK_TYPE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarDescanso">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/RECEPTIO.CapaDominio.Nucleo.Entidades" minOccurs="0" name="descanso" nillable="true" type="q10:BREAK" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarDescansoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarDescansoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinalizarDescanso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDescanso" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinalizarDescansoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTicketsNoAsignados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTicketsNoAsignadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/RECEPTIO.CapaAplicacion.Console.Aplicacion.Contratos" minOccurs="0" name="ObtenerTicketsNoAsignadosResult" nillable="true" type="q11:ArrayOfTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReasignarTickets">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tickets" nillable="true" type="q12:ArrayOfKeyValueOflongTupleOfTipoTicketshortatrcOtZyU6ho3Bhd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReasignarTicketsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReasignarTicketsResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarTickets">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="idTickets" nillable="true" type="q13:ArrayOflong" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarTicketsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTicketsSuspendidos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTicketsSuspendidosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/RECEPTIO.CapaAplicacion.Console.Aplicacion.Contratos" minOccurs="0" name="ObtenerTicketsSuspendidosResult" nillable="true" type="q14:ArrayOfTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReasignarTicketsSuspendidos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tickets" nillable="true" type="q15:ArrayOfKeyValueOflongTupleOflongshortU6ho3Bhd" />
        <xs:element minOccurs="0" name="idMotivo" type="xs:int" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReasignarTicketsSuspendidosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReasignarTicketsSuspendidosResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReasignarTicketsSuspendidosEspecifico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tickets" nillable="true" type="q16:ArrayOfKeyValueOflongTupleOflongshortU6ho3Bhd" />
        <xs:element minOccurs="0" name="idMotivo" type="xs:int" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/RECEPTIO.CapaDominio.Nucleo.Entidades" minOccurs="0" name="usuarioSeleccionado" nillable="true" type="q17:TROUBLE_DESK_USER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReasignarTicketsSuspendidosEspecificoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReasignarTicketsSuspendidosEspecificoResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTicketsParaReporte">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="filtros" nillable="true" type="q18:ArrayOfKeyValueOfBusquedaTicketReportestringrqM_SKFRX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTicketsParaReporteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/RECEPTIO.CapaAplicacion.Console.Aplicacion.Contratos" minOccurs="0" name="ObtenerTicketsParaReporteResult" nillable="true" type="q19:ArrayOfTicketReporte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAccionesTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTicket" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAccionesTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/RECEPTIO.CapaDominio.Nucleo.Entidades" minOccurs="0" name="ObtenerAccionesTicketResult" nillable="true" type="q20:ArrayOfACTION" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMotivosReasignacion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMotivosReasignacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/RECEPTIO.CapaDominio.Nucleo.Entidades" minOccurs="0" name="ObtenerMotivosReasignacionResult" nillable="true" type="q21:ArrayOfREASSIGNMENT_MOTIVE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerKioscosActivos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerKioscosActivosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/RECEPTIO.CapaDominio.Nucleo.Entidades" minOccurs="0" name="ObtenerKioscosActivosResult" nillable="true" type="q22:ArrayOfKIOSK" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarAperturaBarrera">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/RECEPTIO.CapaDominio.Nucleo.Entidades" minOccurs="0" name="objecto" nillable="true" type="q23:LIFT_UP_BARRIER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarAperturaBarreraResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSesionesUsuarios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSesionesUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/RECEPTIO.CapaDominio.Nucleo.Entidades" minOccurs="0" name="ObtenerSesionesUsuariosResult" nillable="true" type="q24:ArrayOfUSER_SESSION" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTransaccionesKiosco">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="filtros" nillable="true" type="q25:ArrayOfKeyValueOfBusquedaReporteTransaccionesstringrqM_SKFRX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTransaccionesKioscoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/RECEPTIO.CapaDominio.Nucleo.Entidades" minOccurs="0" name="ObtenerTransaccionesKioscoResult" nillable="true" type="q26:ArrayOfPRE_GATE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTablets">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTabletsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/RECEPTIO.CapaDominio.Nucleo.Entidades" minOccurs="0" name="ObtenerTabletsResult" nillable="true" type="q27:ArrayOfDEVICE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerZonas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerZonasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/RECEPTIO.CapaDominio.Nucleo.Entidades" minOccurs="0" name="ObtenerZonasResult" nillable="true" type="q28:ArrayOfZONE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTiposTransacciones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTiposTransaccionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/RECEPTIO.CapaDominio.Nucleo.Entidades" minOccurs="0" name="ObtenerTiposTransaccionesResult" nillable="true" type="q29:ArrayOfTRANSACTION_TYPE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerInformacionParaReimpresionTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPreGate" type="xs:long" />
        <xs:element minOccurs="0" name="esEntrada" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerInformacionParaReimpresionTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="ObtenerInformacionParaReimpresionTicketResult" nillable="true" type="q30:TupleOfbooleanstringPRE_GATEp8fGXwlR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarReimpresion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/RECEPTIO.CapaDominio.Nucleo.Entidades" minOccurs="0" name="objecto" nillable="true" type="q31:REPRINT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarReimpresionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarIdPreGate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPreGate" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarIdPreGateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/RECEPTIO.CapaAplicacion.Nucleo.Aplicacion.Contratos" minOccurs="0" name="ValidarIdPreGateResult" nillable="true" type="q32:Respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearByPass">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/RECEPTIO.CapaDominio.Nucleo.Entidades" minOccurs="0" name="byPass" nillable="true" type="q33:BY_PASS" />
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearByPassResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerByPass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPreGate" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerByPassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/RECEPTIO.CapaDominio.Nucleo.Entidades" minOccurs="0" name="ObtenerByPassResult" nillable="true" type="q34:BY_PASS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarrByPass">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/RECEPTIO.CapaDominio.Nucleo.Entidades" minOccurs="0" name="byPass" nillable="true" type="q35:BY_PASS" />
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarrByPassResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarIdPreGateParaCancelar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPreGate" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarIdPreGateParaCancelarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/RECEPTIO.CapaAplicacion.Nucleo.Aplicacion.Contratos" minOccurs="0" name="ValidarIdPreGateParaCancelarResult" nillable="true" type="q36:Respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearByPassCancelPregate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/RECEPTIO.CapaDominio.Nucleo.Entidades" minOccurs="0" name="byPass" nillable="true" type="q37:BY_PASS" />
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearByPassCancelPregateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarStatusPregate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPreGate" type="xs:long" />
        <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarStatusPregateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarStatusStockRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPreGate" type="xs:long" />
        <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarStatusStockRegisterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMotivos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMotivosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/RECEPTIO.CapaDominio.Nucleo.Entidades" minOccurs="0" name="ObtenerMotivosResult" nillable="true" type="q38:ArrayOfMOTIVE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSubMotivos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMotivo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSubMotivosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/RECEPTIO.CapaDominio.Nucleo.Entidades" minOccurs="0" name="ObtenerSubMotivosResult" nillable="true" type="q39:ArrayOfSUB_MOTIVE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerValidacionesGenerales">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_opcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_StrValor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_IntValor" type="xs:int" />
        <xs:element minOccurs="0" name="_BigintValor" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerValidacionesGeneralesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerValidacionesGeneralesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearError">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/RECEPTIO.CapaDominio.Nucleo.Entidades" minOccurs="0" name="error" nillable="true" type="q40:ERROR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearErrorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearErrorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutenticarAccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasena" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutenticarAccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="AutenticarAccionResult" nillable="true" type="q41:TupleOfbooleanstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>