Mobile/Connected Services/ServiceTransact/Service34.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://cgint04:50502/WS_RECEPTIOValidaciones/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="get_door_pass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pass" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_door_passResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="get_door_passResult" nillable="true" type="q1:doorpass_item" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="check_pass_date">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="pass" nillable="true" type="q2:doorpass_item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="check_pass_dateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="check_pass_dateResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="check_pass_status">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="pass" nillable="true" type="q3:doorpass_item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="check_pass_statusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="check_pass_statusResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="check_pass_ticket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="pass" nillable="true" type="q4:doorpass_item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="check_pass_ticketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="check_pass_ticketResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="check_pass_truck">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="pass" nillable="true" type="q5:doorpass_item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="check_pass_truckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="check_pass_truckResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ckeck_pass_driver">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="pass" nillable="true" type="q6:doorpass_item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ckeck_pass_driverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ckeck_pass_driverResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="check_pass_ridt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="pass" nillable="true" type="q7:doorpass_item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="check_pass_ridtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="check_pass_ridtResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="check_pass_transaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="pass" nillable="true" type="q8:doorpass_item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="check_pass_transactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="check_pass_transactionResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_pass_unit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="pass" nillable="true" type="q9:doorpass_item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_pass_unitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="get_pass_unitResult" nillable="true" type="q10:unit_item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_pass_container">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="cunt" nillable="true" type="q11:unit_item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_pass_containerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="get_pass_containerResult" nillable="true" type="q12:container_item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="check_cntr_status">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="cn" nillable="true" type="q13:container_item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="check_cntr_statusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="check_cntr_statusResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="check_impediments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="cntr" nillable="true" type="q14:container_item" />
        <xs:element minOccurs="0" name="stage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="check_impedimentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="check_impedimentsResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_aisv">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_aisvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="get_aisvResult" nillable="true" type="q15:aisv_item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="find_aisv_by_number">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="find_aisv_by_numberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="find_aisv_by_numberResult" nillable="true" type="q16:aisv_item" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="find_aisv_by_container">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cntr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="find_aisv_by_containerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="find_aisv_by_containerResult" nillable="true" type="q17:aisv_item" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_aisv_container">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="aisv" nillable="true" type="q18:aisv_item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_aisv_containerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="get_aisv_containerResult" nillable="true" type="q19:container_item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="check_aisv_driver">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ai" nillable="true" type="q20:aisv_item" />
        <xs:element minOccurs="0" name="id_driver" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="check_aisv_driverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="check_aisv_driverResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="check_aisv_truck">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ai" nillable="true" type="q21:aisv_item" />
        <xs:element minOccurs="0" name="id_truck" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="check_aisv_truckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="check_aisv_truckResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="check_aisv_status">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ai" nillable="true" type="q22:aisv_item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="check_aisv_statusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="check_aisv_statusResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="check_aisv_preadvice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ai" nillable="true" type="q23:aisv_item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="check_aisv_preadviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="check_aisv_preadviceResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="set_aisv_fcl_seals">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ai" nillable="true" type="q24:aisv_item" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="se" nillable="true" type="q25:seal_setter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="set_aisv_fcl_sealsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="set_aisv_fcl_sealsResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="set_aisv_mty_seals">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cntr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="seal1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="label1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="label2" nillable="true" type="xs:string" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="se" nillable="true" type="q26:seal_setter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="set_aisv_mty_sealsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="set_aisv_mty_sealsResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="check_driver_expo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="driver" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="check_driver_expoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="check_driver_expoResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="check_truck_expo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="driver" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="check_truck_expoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="check_truck_expoResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="check_transaction_by_driver">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="driver_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="check_transaction_by_driverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="check_transaction_by_driverResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="check_transaction_by_truck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="truck_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="check_transaction_by_truckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="check_transaction_by_truckResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="check_transaction_by_container">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cntr_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="check_transaction_by_containerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="check_transaction_by_containerResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="set_impo_fcl_seals">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="cntr" nillable="true" type="q27:container_item" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="se" nillable="true" type="q28:seal_setter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="set_impo_fcl_sealsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="set_impo_fcl_sealsResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="find_impo_cntr_pre_out">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cntr_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="find_impo_cntr_pre_outResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="find_impo_cntr_pre_outResult" nillable="true" type="q29:container_item" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="find_expo_cntr_mty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cntr_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="find_expo_cntr_mtyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="find_expo_cntr_mtyResult" nillable="true" type="q30:container_item" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="find_expo_cntr_mty_desist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cntr_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="find_expo_cntr_mty_desistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="find_expo_cntr_mty_desistResult" nillable="true" type="q31:container_item" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="find_expo_cntr_fcl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cntr_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="find_expo_cntr_fclResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="find_expo_cntr_fclResult" nillable="true" type="q32:container_item" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="find_expo_cntr_fcl_by_gkey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gkey" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="find_expo_cntr_fcl_by_gkeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="find_expo_cntr_fcl_by_gkeyResult" nillable="true" type="q33:container_item" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_edo_list">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_edo_listResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="get_edo_listResult" nillable="true" type="q34:ArrayOfedo_item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_device_list">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_device_listResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="get_device_listResult" nillable="true" type="q35:ArrayOfcombo_item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_kiosko_list">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_kiosko_listResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="get_kiosko_listResult" nillable="true" type="q36:ArrayOfcombo_item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_transaction_types_list">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_transaction_types_listResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="get_transaction_types_listResult" nillable="true" type="q37:ArrayOfcombo_item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_driver_list">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="license" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_driver_listResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="get_driver_listResult" nillable="true" type="q38:ArrayOfcombo_item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_seals_colors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_seals_colorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="get_seals_colorsResult" nillable="true" type="q39:ArrayOfcombo_item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_damage_list">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_damage_listResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="get_damage_listResult" nillable="true" type="q40:ArrayOfcombo_item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_component_list">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_component_listResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="get_component_listResult" nillable="true" type="q41:ArrayOfcombo_item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="save_tablet_transaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="transaction" nillable="true" type="q42:pre_gate_item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="save_tablet_transactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="save_tablet_transactionResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="OnError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="save_tablet_transaction_return">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="transaction" nillable="true" type="q43:pre_gate_item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="save_tablet_transaction_returnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="save_tablet_transaction_returnResult" type="xs:boolean" />
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="out_transaction" nillable="true" type="q44:pre_gate_item" />
        <xs:element minOccurs="0" name="OnError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="update_pregate_transaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="driver" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="truck" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="update_pregate_transactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="update_pregate_transactionResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="OnError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="edo_data_validation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="placa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="chofer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="edo_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="edo_data_validationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="edo_data_validationResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_edo_control_list">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_edo_control_listResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="get_edo_control_listResult" nillable="true" type="q45:ArrayOfedo_control_item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vip_find_pass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pass_id" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vip_find_passResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="vip_find_passResult" nillable="true" type="q46:door_pass_vip_item" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vip_validate_date">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="pass" nillable="true" type="q47:door_pass_vip_item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vip_validate_dateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vip_validate_dateResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vip_validate_truck">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="pass" nillable="true" type="q48:door_pass_vip_item" />
        <xs:element minOccurs="0" name="truck_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vip_validate_truckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vip_validate_truckResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vip_validate_driver">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="pass" nillable="true" type="q49:door_pass_vip_item" />
        <xs:element minOccurs="0" name="dirver_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vip_validate_driverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vip_validate_driverResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_transaction_types_provider">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_transaction_types_providerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="get_transaction_types_providerResult" nillable="true" type="q50:ArrayOfcombo_item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sav_validation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cntr_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sav_validationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sav_validationResult" type="xs:int" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="find_booking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nbr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="find_bookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="find_bookingResult" nillable="true" type="q51:booking_item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>