TransactionEmpty/Connected Services/ServicioAnuncianteProblema/ServicioAnuncianteProblema.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioAnuncianteProblema" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62837/ServicioAnuncianteProblema.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62837/ServicioAnuncianteProblema.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioAnuncianteProblema_AnunciarProblema_InputMessage">
    <wsdl:part name="parameters" element="tns:AnunciarProblema" />
  </wsdl:message>
  <wsdl:message name="IServicioAnuncianteProblema_AnunciarProblema_OutputMessage">
    <wsdl:part name="parameters" element="tns:AnunciarProblemaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioAnuncianteProblema_AnunciarProblemaMobile_InputMessage">
    <wsdl:part name="parameters" element="tns:AnunciarProblemaMobile" />
  </wsdl:message>
  <wsdl:message name="IServicioAnuncianteProblema_AnunciarProblemaMobile_OutputMessage">
    <wsdl:part name="parameters" element="tns:AnunciarProblemaMobileResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioAnuncianteProblema_AnunciarProblemaGenericoMobile_InputMessage">
    <wsdl:part name="parameters" element="tns:AnunciarProblemaGenericoMobile" />
  </wsdl:message>
  <wsdl:message name="IServicioAnuncianteProblema_AnunciarProblemaGenericoMobile_OutputMessage">
    <wsdl:part name="parameters" element="tns:AnunciarProblemaGenericoMobileResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioAnuncianteProblema_AnunciarProblemaClienteAppTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:AnunciarProblemaClienteAppTransaction" />
  </wsdl:message>
  <wsdl:message name="IServicioAnuncianteProblema_AnunciarProblemaClienteAppTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:AnunciarProblemaClienteAppTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioAnuncianteProblema_AnunciarProblemaServicioWebTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:AnunciarProblemaServicioWebTransaction" />
  </wsdl:message>
  <wsdl:message name="IServicioAnuncianteProblema_AnunciarProblemaServicioWebTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:AnunciarProblemaServicioWebTransactionResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioAnuncianteProblema">
    <wsdl:operation name="AnunciarProblema">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioAnuncianteProblema/AnunciarProblema" message="tns:IServicioAnuncianteProblema_AnunciarProblema_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioAnuncianteProblema/AnunciarProblemaResponse" message="tns:IServicioAnuncianteProblema_AnunciarProblema_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AnunciarProblemaMobile">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioAnuncianteProblema/AnunciarProblemaMobile" message="tns:IServicioAnuncianteProblema_AnunciarProblemaMobile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioAnuncianteProblema/AnunciarProblemaMobileResponse" message="tns:IServicioAnuncianteProblema_AnunciarProblemaMobile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AnunciarProblemaGenericoMobile">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioAnuncianteProblema/AnunciarProblemaGenericoMobile" message="tns:IServicioAnuncianteProblema_AnunciarProblemaGenericoMobile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioAnuncianteProblema/AnunciarProblemaGenericoMobileResponse" message="tns:IServicioAnuncianteProblema_AnunciarProblemaGenericoMobile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AnunciarProblemaClienteAppTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioAnuncianteProblema/AnunciarProblemaClienteAppTransaction" message="tns:IServicioAnuncianteProblema_AnunciarProblemaClienteAppTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioAnuncianteProblema/AnunciarProblemaClienteAppTransactionResponse" message="tns:IServicioAnuncianteProblema_AnunciarProblemaClienteAppTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AnunciarProblemaServicioWebTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioAnuncianteProblema/AnunciarProblemaServicioWebTransaction" message="tns:IServicioAnuncianteProblema_AnunciarProblemaServicioWebTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioAnuncianteProblema/AnunciarProblemaServicioWebTransactionResponse" message="tns:IServicioAnuncianteProblema_AnunciarProblemaServicioWebTransaction_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioAnuncianteProblema" type="tns:IServicioAnuncianteProblema">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AnunciarProblema">
      <soap:operation soapAction="http://tempuri.org/IServicioAnuncianteProblema/AnunciarProblema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnunciarProblemaMobile">
      <soap:operation soapAction="http://tempuri.org/IServicioAnuncianteProblema/AnunciarProblemaMobile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnunciarProblemaGenericoMobile">
      <soap:operation soapAction="http://tempuri.org/IServicioAnuncianteProblema/AnunciarProblemaGenericoMobile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnunciarProblemaClienteAppTransaction">
      <soap:operation soapAction="http://tempuri.org/IServicioAnuncianteProblema/AnunciarProblemaClienteAppTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnunciarProblemaServicioWebTransaction">
      <soap:operation soapAction="http://tempuri.org/IServicioAnuncianteProblema/AnunciarProblemaServicioWebTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioAnuncianteProblema">
    <wsdl:port name="BasicHttpBinding_IServicioAnuncianteProblema" binding="tns:BasicHttpBinding_IServicioAnuncianteProblema">
      <soap:address location="http://localhost:62837/ServicioAnuncianteProblema.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>