TransactionEmpty/Connected Services/ServicioTransactionEmpty/ServicioTransactionEmpty1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioTransactionEmpty" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IServicioTransactionEmpty_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://cgdes13:1700/TransactionEmpty/ServicioTransactionEmpty.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://cgdes13:1700/TransactionEmpty/ServicioTransactionEmpty.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://cgdes13:1700/TransactionEmpty/ServicioTransactionEmpty.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RECEPTIO.CapaDominio.Nucleo.Entidades" />
      <xsd:import schemaLocation="http://cgdes13:1700/TransactionEmpty/ServicioTransactionEmpty.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RECEPTIO.CapaAplicacion.TransactionEmpty.Aplicacion.Contratos" />
      <xsd:import schemaLocation="http://cgdes13:1700/TransactionEmpty/ServicioTransactionEmpty.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RECEPTIO.CapaAplicacion.Nucleo.Aplicacion.Contratos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioTransactionEmpty_Procesar_InputMessage">
    <wsdl:part name="parameters" element="tns:Procesar" />
  </wsdl:message>
  <wsdl:message name="IServicioTransactionEmpty_Procesar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcesarResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioTransactionEmpty_RegistrarProceso_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarProceso" />
  </wsdl:message>
  <wsdl:message name="IServicioTransactionEmpty_RegistrarProceso_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarProcesoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioTransactionEmpty_CrearError_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearError" />
  </wsdl:message>
  <wsdl:message name="IServicioTransactionEmpty_CrearError_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearErrorResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioTransactionEmpty_ObtenerAplicacion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAplicacion" />
  </wsdl:message>
  <wsdl:message name="IServicioTransactionEmpty_ObtenerAplicacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAplicacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioTransactionEmpty_ObtenerMensajesErrores_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMensajesErrores" />
  </wsdl:message>
  <wsdl:message name="IServicioTransactionEmpty_ObtenerMensajesErrores_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMensajesErroresResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioTransactionEmpty_ObtenerQuiosco_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerQuiosco" />
  </wsdl:message>
  <wsdl:message name="IServicioTransactionEmpty_ObtenerQuiosco_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerQuioscoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioTransactionEmpty_ObtenerDepot_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDepot" />
  </wsdl:message>
  <wsdl:message name="IServicioTransactionEmpty_ObtenerDepot_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDepotResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioTransactionEmpty">
    <wsdl:operation name="Procesar">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/Procesar" message="tns:IServicioTransactionEmpty_Procesar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/ProcesarResponse" message="tns:IServicioTransactionEmpty_Procesar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarProceso">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/RegistrarProceso" message="tns:IServicioTransactionEmpty_RegistrarProceso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/RegistrarProcesoResponse" message="tns:IServicioTransactionEmpty_RegistrarProceso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearError">
      <wsdl:input wsaw:Action="http://tempuri.org/IError/CrearError" message="tns:IServicioTransactionEmpty_CrearError_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IError/CrearErrorResponse" message="tns:IServicioTransactionEmpty_CrearError_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAplicacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IComunKiosco/ObtenerAplicacion" message="tns:IServicioTransactionEmpty_ObtenerAplicacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComunKiosco/ObtenerAplicacionResponse" message="tns:IServicioTransactionEmpty_ObtenerAplicacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerMensajesErrores">
      <wsdl:input wsaw:Action="http://tempuri.org/IComunKiosco/ObtenerMensajesErrores" message="tns:IServicioTransactionEmpty_ObtenerMensajesErrores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComunKiosco/ObtenerMensajesErroresResponse" message="tns:IServicioTransactionEmpty_ObtenerMensajesErrores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerQuiosco">
      <wsdl:input wsaw:Action="http://tempuri.org/IComunKiosco/ObtenerQuiosco" message="tns:IServicioTransactionEmpty_ObtenerQuiosco_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComunKiosco/ObtenerQuioscoResponse" message="tns:IServicioTransactionEmpty_ObtenerQuiosco_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDepot">
      <wsdl:input wsaw:Action="http://tempuri.org/IComunKiosco/ObtenerDepot" message="tns:IServicioTransactionEmpty_ObtenerDepot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComunKiosco/ObtenerDepotResponse" message="tns:IServicioTransactionEmpty_ObtenerDepot_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IServicioTransactionEmpty" type="tns:IServicioTransactionEmpty">
    <wsp:PolicyReference URI="#WSHttpBinding_IServicioTransactionEmpty_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Procesar">
      <soap12:operation soapAction="http://tempuri.org/IGeneral/Procesar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarProceso">
      <soap12:operation soapAction="http://tempuri.org/IGeneral/RegistrarProceso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearError">
      <soap12:operation soapAction="http://tempuri.org/IError/CrearError" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAplicacion">
      <soap12:operation soapAction="http://tempuri.org/IComunKiosco/ObtenerAplicacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerMensajesErrores">
      <soap12:operation soapAction="http://tempuri.org/IComunKiosco/ObtenerMensajesErrores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerQuiosco">
      <soap12:operation soapAction="http://tempuri.org/IComunKiosco/ObtenerQuiosco" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDepot">
      <soap12:operation soapAction="http://tempuri.org/IComunKiosco/ObtenerDepot" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioTransactionEmpty">
    <wsdl:port name="WSHttpBinding_IServicioTransactionEmpty" binding="tns:WSHttpBinding_IServicioTransactionEmpty">
      <soap12:address location="http://cgdes13:1700/TransactionEmpty/ServicioTransactionEmpty.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://cgdes13:1700/TransactionEmpty/ServicioTransactionEmpty.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>