Mobile/Connected Services/ServiceTD/ServicioAnuncianteProblema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AnunciarProblema">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTransaccionQuiosco" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnunciarProblemaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AnunciarProblemaMobile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTosProcess" type="xs:long" />
        <xs:element minOccurs="0" name="idZona" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnunciarProblemaMobileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AnunciarProblemaGenericoMobile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensajeError" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idZona" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnunciarProblemaGenericoMobileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AnunciarProblemaClienteAppTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idError" type="xs:int" />
        <xs:element minOccurs="0" name="idZona" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnunciarProblemaClienteAppTransactionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AnunciarProblemaServicioWebTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idZona" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnunciarProblemaServicioWebTransactionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>